spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL:}
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
    open-in-view: false
